@tailwind base;
@tailwind components;
@tailwind utilities;




.img img {
    z-index: 50;
}

.basketbtn {
  z-index: 1000;
  cursor: pointer;
}

.basketbtn:hover {
  background-color: bg-blue-400;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-unit-10.min-h-unit-10.rounded-medium.\!h-auto.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background.py-2 {
  background: white;
  border-radius: 6px;
}

label#react-aria2596541780-\:r1\: {
  font-weight: bold;
  font-size: 16px;
}

.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.\!h-auto.transition-background.\!duration-150.group-data-\[focus\=true\]\:border-secondary.transition-colors.motion-reduce\:transition-none.h-14.py-2 {
  border: 2px solid #d1d5db;
}


.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.group-data-\[focus\=true\]\:border-default-foreground.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.\!h-auto.transition-none.h-14.py-2 {
  border: 2px solid #d1d5db;
}


.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.group-data-\[focus\=true\]\:border-default-foreground.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.transition-background.\!duration-150.transition-colors.motion-reduce\:transition-none.h-14.py-2 {
  border: 2px solid #d1d5db;
}




.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-unit-10.min-h-unit-10.rounded-medium.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background {
  background: #f3f4f6;
  border-radius: 5px;
}




.sticky-element {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other elements */
  background-color: white; /* Optional, for visibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional, for visibility */
}


.fixed.bottom-2.left-6.lg\:left-14.right-6.lg\:w-1\/3 {
  z-index: 999 !important;
}