@tailwind base;
@tailwind components;
@tailwind utilities;


/* .wrappper:after, 
.wrappper:before {
  content:'';
  background:white;
  position:absolute;
  top:-50px;
  left:0;
  width:100%;
  height:25px;
}
.wrappper:after {
  top:auto;
  bottom:-10px;
  border-radius:60% 60% 0 0;
} */

.img img {
    z-index: 50;
}

.basketbtn {
  z-index: 1000;
}

.basketbtn:hover {
  background-color: bg-blue-400;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-unit-10.min-h-unit-10.rounded-medium.\!h-auto.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background.py-2 {
  background: white;
  border-radius: 6px;
}

label#react-aria2596541780-\:r1\: {
  font-weight: bold;
  font-size: 16px;
}

.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.\!h-auto.transition-background.\!duration-150.group-data-\[focus\=true\]\:border-secondary.transition-colors.motion-reduce\:transition-none.h-14.py-2 {
  border: 2px solid #d1d5db;
}


.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.group-data-\[focus\=true\]\:border-default-foreground.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.\!h-auto.transition-none.h-14.py-2 {
  border: 2px solid #d1d5db;
}


.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.group-data-\[focus\=true\]\:border-default-foreground.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.transition-background.\!duration-150.transition-colors.motion-reduce\:transition-none.h-14.py-2 {
  border: 2px solid #d1d5db;
}




.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-unit-10.min-h-unit-10.rounded-medium.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background {
  background: #f3f4f6;
  border-radius: 5px;
}